<%# encoding: utf-8 %>
<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <% if customer.image_attached_safely? %>
            <% begin %>
              <%= image_tag customer.image %>
            <% rescue StandardError %>
              <div class="image-placeholder">
                <span class="icon is-large">
                  <i class="fas fa-exclamation-triangle fa-2x has-text-warning"></i>
                </span>
              </div>
            <% end %>
          <% else %>
            <div class="image-placeholder">
              <span class="icon is-large">
                <i class="fas fa-user fa-2x"></i>
              </span>
            </div>
          <% end %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= customer.full_name %></p>
        <p class="subtitle is-6">
          <strong>phone:</strong> <%= customer.phone_number %><br>
          <% if customer.email_address.present? %>
            <strong>email:</strong> <%= customer.email_address %><br>
          <% else %>
            <strong>email:</strong> <em>not provided</em><br>
          <% end %>
          <% if customer.notes.present? %>
            <strong>notes:</strong> <%= customer.notes %>
          <% end %>
        </p>
      </div>
      <div class="media-right">
        <div class="buttons">
          <%= link_to "View", customer, class: "button is-small is-info" %>
          <%= link_to "Edit", edit_customer_path(customer), class: "button is-small is-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>